<div>
  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" >
    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Фамилия, имя, отчество (наименование)</th>
      <td mat-cell *matCellDef="let profile"> {{profile.name}}</td>
    </ng-container>
    <ng-container matColumnDef="categories">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Категории</th>
      <td mat-cell *matCellDef="let profile"> {{profile.categories}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="onRowClicked(row.id)"></tr>
  </mat-table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<div *ngIf="dataSource.data.length === 0">Профили не найдены</div>
