<app-check-header></app-check-header>
<div class="row">
<!--<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">-->
  <!--<div fxFlex="20%">-->
  <div class="col-md-2">
    <app-navigation></app-navigation>
</div>
  <!--</div>-->
  <!--<div fxFlex="100%">-->
  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
  <!--</div>-->
</div>
<!--</div>-->


<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-md-3">-->
      <!--<app-navigation></app-navigation>-->
    <!--</div>-->
    <!--<div class="col-md-9">-->
      <!--<router-outlet></router-outlet>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->
<app-check-footer></app-check-footer>
