<mat-card>
  <mat-card-title>
    Критерии поиска
  </mat-card-title>
  <mat-card-content>
    <mat-form-field class="padding">
      <input matInput [(ngModel)]="filter.text" placeholder="Текст">
    </mat-form-field>
    <mat-form-field class="padding">
      <mat-select placeholder="Категория" [(ngModel)]="filter.categories" multiple>
        <mat-option *ngFor="let category of categories" [value]="category">{{category.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [disabled]="isEmptyText()" (click)="find()">Найти</button>
    <mat-slider
      thumbLabel [(ngModel)]="filter.maxResults"
      tickInterval="1"
      min="100"
      max="1000"
    ></mat-slider>
  </mat-card-actions>
</mat-card>
<app-profile-table></app-profile-table>
